<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.smartalgorithms.locationpictures">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo_256x256"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_256x256"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <activity android:name=".Home.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationPictures.LocationPicturesActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"
            />
        <activity android:name=".Venue.VenueActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoTitleNoActionBar"
            />
        <activity android:name=".MapMarker.MapMarkerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            />
        <service android:name=".Services.LocationService"
            android:label="Location Service">
        </service>
    </application>

</manifest>